# direnv file
# install direnv, cd to this directory and run "direnv allow ." to add .envrc to the repository-wide environment variables

# Set SDL/pygame to use wayland display server protocol (necessary on wayland linux for the games GUI)
export SDL_VIDEODRIVER=wayland